.webpack{
    background-color: #2086d7 !important;   
 }
.react,.theme{
    background-color: #61dafb !important;   
 }
 .vue,.vuepress{
    background-color: #41B883 !important;   
 }
 .javascript,.js{
    background-color: #F7DF1E !important;   
 }
 .css,.css3{
    background-color: #3399FE !important;   
 }
 .html,.html5,.blog{
    background-color: #e44d26 !important;   
 }

 .angular {
     background-color: #DD0031 !important;
}
.ts{
 background: #0288d1 !important;    
}
.git{
   background:  #e64a19
}