$light-base-color = rgba(0, 0, 0, 0.65)
$light-title-color = rgba(0, 0, 0, 0.85)
$light-background = #f0f2f5
$light-card-bg = #ffffff
$light-border = #f0f0f0 

$dark-base-color = rgba(255,255,255,.65)
$dark-title-color = rgba(255,255,255,.85)
$dark-background = #000000
$dark-card-bg = #141414
$dark-border = #303030 

/* 默认主题（拂晓蓝） */
-daybreak = #1890ff
$daybreak-color-1 = #096dd9;

/* 薄暮 */
-dusk = #f5222d;
$dusk-color-1 = #cf1322;

/* 火山. */
-volcano = #fa541c;
$volcano-color-1 = #d4380d;

/* 日暮 */

-sunset= #fa8c16;
$sunset-color-1 = #d46b08;

/* 明青 */
-cyan = #13c2c2;
$cyan-color-1 = #08979c;

/* 极光绿 */

-green = #52c41a;
$green-color-1 = #389e0d;


/* 极客蓝 */
-geekblue = #2f54eb;
$geekblue-color-1 = #1d39c4;

/* 酱紫; */

-purple = #722ed1;
$purple-color-1 = #531dab;

theme-color(color)
    color: color

theme-bg(color)
    background-color color
.after
    transform: scaleX(1)
    opacity: 1;
    transition: all 0.15s cubic-bezier(0.645, 0.045, 0.355, 1)
.light
    theme-bg($light-background) 
    theme-color($light-base-color)

    .title-color,a 
        theme-color($light-title-color);
        
    .card-bg
        theme-bg($light-card-bg)

    .card-border
        border-bottom 1px solid $light-border

.dark
    theme-bg($dark-background) 
    theme-color($dark-base-color)

    .title-color,a 
        theme-color($dark-title-color);
        
    .card-bg
        theme-bg($dark-card-bg)

    .card-border
        border-bottom 1px solid $dark-border
/* 主题开始 */
_colorFn()

    for theme,index in -daybreak -dusk -volcano -sunset -cyan -green -geekblue
         .theme-{index}
           .setting-button
             theme-bg(theme)
            .cube-scroll-nav-bar-item.cube-scroll-nav-bar-item_active
        
              &::after
                   @extend .after
                   border-bottom: 3px solid theme
            .title-color,a,.nav-link 
                  theme-color($light-title-color)
            .router-link-active,.link-color,a
                  theme-color(theme)
                  &:hover 
                      theme-color(theme*1%)

_colorFn()
